#console {
    border-radius: 10px;
    height: 90vh;
    padding-bottom: 100px;

}

#consoleScreen {
    font-family: 'Roboto Mono';
    height: 100%;
    border-radius: 5px;
    width: 90vw;
    margin: auto;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
}

#consoleOutputWrapper {
    color: white;
    width: 90%;
    display: block;
    margin: auto;
    flex-grow: 1;
}

#consoleOutputWrapper p {
    font-family: 'Roboto Mono';
}

#consoleInput {
    margin-top: auto;
    bottom: 15px;
    width: 90%;
    height: 30px;
    margin-bottom: 15px;
    margin-inline: auto;
    padding-inline: 15px;
    display: block;
}
