body {
    width: 100%;
    margin: 0%;
    text-decoration: none;
}

ul ,li {
    padding: 0px;
    display: block;
} 

.header {
    box-sizing: border-box;
    margin: 0%;
    width: 100%;
    display: flex;
    padding: 15px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #FF0000, rgba(255, 138, 0, 76.5%), rgba(219, 247, 44, 61.11%), #00FF57, #00B2FF, #0400D2, #FA00FF, #FF0000);
    border-image-slice: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #F4F4F4;
    text-transform: lowercase;
}

.card {
    display: flex;
    align-items: center;
    margin-left: 35px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
    opacity: 0;
    transform: translateY(-8px);
}

#promotions {
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 20px;
    margin-left: auto;
    background-color: #FF4242;
    border-radius: 5px;
}

.drop_down::after {
    content: url('assets/arrow_down.svg');
    padding-left: 5px;
}


.drop_down:hover::after {
    content: url('assets/arrow_up.svg');
}

.drop_down_list {
    display: flex;
    position: absolute;
    padding-top: 15px;
    padding-left: 49px;
    background-color: #F4F4F4;
    text-transform: capitalize;
    font-family: 'Inter';
    font-size: 13px;
    width: 100%;
    z-index: 3;
}

.drop_down_list li {
    padding-right: 6%;
    padding-bottom: 5px;
}

.bold {
    font-weight: bold;
    padding-bottom: 10px;
}
